.partners {
  padding-top: 10svh;
}

#our-partners {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 12px 20px;
  color:aliceblue
}

.carousel {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.partners-grid {
  display: flex;
  gap: 1em;
  width: max-content;
  animation: spin 30s linear infinite;
  padding-right: 1em;
}

.partner-card {
  padding: 36px 24px;
  display: inline-block;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: default;
  position: relative;
  overflow: hidden;
}
