
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.3s ease;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border-bottom: 0px solid var(--border);
  padding: 12px 20px;
  height: 100px;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .header {
    background: rgba(22, 23, 29, 0.45);
  }
}

.header.show {
  transform: translateY(0);
}

.header.hide {
  transform: translateY(-100%);
}

/* Layout: logo left, nav centered */
.header .header-left {
  display: flex;
  align-items: center;
}

.main-nav {
  position: absolute;
  right: 5%;

  display: flex;
  gap: 16px;
}

/* Header center*/
.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
/* Header countdown*/
.countdown {
  font-weight: 600;
  color: var(--accent);
  background: var(--accent-bg);
  padding: 20px 100px;
  border-radius: 6px;
}

/* Nav logo*/
.header .nav-logo {
  height: 90px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.main-nav a {
  color: var(--text-h);
  text-decoration: none;
  font-weight: 500;
}
