@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Montserrat:wght@900&display=swap');

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #fefeff;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}


.single-line-center {
  font-family: 'Montserrat', bold;
  font-size: 71px;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow:
    0 0 15px rgba(255, 255, 255, 0.3),
    1px 1px 2px #000, -1px -1px 2px #000,
    1px -1px 2px #000, -1px 1px 2px #000,
    0 5px 15px rgba(0, 0, 0, 0.9);
  margin-top: 20vh;
  margin-bottom: 45vh;
}



.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.bar-texts {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Yksi viiva tekstien väliin */
.bar-text-left::after {
  content: "";
  display: inline-block;
  width: 70vw;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  vertical-align: middle;
}

.bar-text-left, .bar-text-right {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  white-space: nowrap;
}